<!DOCTYPE html>
<html>

<head>{{ .Head }}</head>

<body>
    <form class="qtechng-form-base">
        <div class="qtechng-form-base-heading">Checkout files from the QTechNG repository</div>
        <label class="input-label-primary" for="qpattern"><span>Qpatterns <span class="required">*</span></span><input
                autofocus placeholder="e.g. /core/python3/*.py" type="text" class="input-field" name="qpath"
                id="qpattern" value="" /></label>
        <label class="input-label-primary" for="version"><span>Version <span class="required">*</span></span><input
                type="text" class="input-field-version" name="version" id="version" value="0.00" /></label>
        <label class="input-label-secondary" for="jsonpath"><span>JSONPath </span><input type="text" name="jsonpath"
                id="jsonpath" value="$..qpath" /></label>
        <label class="input-label-secondary" for="yaml"><span>YAML ?</span>
            <input type='checkbox' checked value='1' onclick='return handleCheck("yaml")' />
            <input type='hidden' name='yaml' id='yaml' value='1' data-on='1' data-off='0' />
        </label>
        <label class="input-label-primary">
            <span>&#160;</span>
            <input type="submit" value="Submit" onclick="golangfunc('')" />
            <input type="submit" value="Quit" onclick="golangfunc('stop')" />
        </label>
    </form>
    <pre id="yamldisplay"></pre>
    <pre id="jsondisplay"></pre>
</body>

</html>