<!DOCTYPE html>
<html>

<head>{{ .Head }}</head>

<body>
    <form class="qtechng-form-base">
        <div class="qtechng-form-base-heading">Working with local files</div>
        <dl>
            <dt class="qtechng-menuitem-link" onclick="golangfunc('example')">Voorbeeld</dt>
            <dd class="qtechng-menuitem-info">Klikken op de hyperlink start het voorbeeld op.</dd>
        </dl>

        <div class="qtechng-form-base-heading">Working with files in the QtechNG repository</div>
        <div class="qtechng-form-base-heading">Maintenance topics</div>
        <label class="input-label-primary">
            <input type="submit" value="Quit" onclick="golangfunc('stop')" />
            <input type="hidden" id="menuitem" value="" />
        </label>

    </form>
</body>

</html>